@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;500&display=swap");

:root {
  /* ================ DEFAULT PROPERTIES ==================== */
  --shadow--properties: 0px 0px 5px rgba(0,0,0, 0.5);
  --blue-color: rgb(0, 132, 255);
  --white-color: #fff;
  --black-color: #000;
  --blue-hover: rgb(115, 180, 241);
  --box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  --border-properties: 1px solid rgba(255, 255, 255, 0.5);

  /* =============== DEFAULT SIZE =================== */
  --one-size: 1.5rem;
  --two-size: 1rem;
  --three-size: 0.75rem;
  --four-size: 0.5rem;
  --five-size: 0.3rem;
}

/* =============== UNIVERSAL STYLING =================== */

/* creates a box-sizing of border box*/
*,
::after,
::before {
  box-sizing: border-box;
}

/* makes it so users cant scroll */

html {
  overflow: hidden;
}

/* makes sure there is no padding or margin on the body or html elements and gives it
a font family */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Unicase", serif;
  font-size: var(--one-font);
  font-weight: bold;
  overflow: hidden;
}

/* sets the background to an image covering the whole screen */

.background {
  background-image: url("../images/background.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* styling heading elements */

h1,
h2 {
  margin: 0;
  color: var(--white-color);
  text-shadow: var(--shadow--properties);
}

/* applying a margin to the h1 elements  */

h1 {
  margin-top: 5%;
}

/* applying a pop up animation to the card on page load*/

@keyframes slideInFromLeft {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

/* transition for animation */

#card {
  animation: 1s ease 0s 1 slideInFromLeft;
}

/* =============== CONTAINER =================== */

/* container for the whole page */
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

/* =============== CARD =================== */

/* card styling and positioning */
.card {
  width: 60%;
  height: 70%;
  border-radius: var(--two-size);
  box-shadow: var(--box-shadow);
  background: rgba(110, 110, 110, 0.5);
  border: var(--border-properties);
}

/* container inside the card for the items and making it a grid*/
.card__container {
  display: grid;
  height: 100%;
}

/* making sure the text is aligned in the center */
header h1,
header h2 {
  text-align: center;
}

/* styling the paragraph element */
p {
  color: var(--white-color);
  text-shadow: var(--shadow--properties);
}

/* =============== PASSWORD TEXTAREA =================== */

/* giving the width of the grid item 2 */
.grid__item2 {
  width: 100%;
}

/* the element password container needs to display the password textarea
and the copy to clipboard button side by side */
.password__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}

/* positioning, styling, fontfamily and innerproperities of the textarea
have all been set here */
textarea {
  border-radius: var(--two-size);
  width: 80%;
  color: var(--black-color);
  padding: var(--two-size);
  border: var(--border-properties);
  box-shadow: var(--shadow--properties);
  resize: none;
  text-align: center;
  justify-content: center;
  margin: auto;
  align-content: center;
  color: var(--black-color);
  font-family: "Cormorant Unicase", serif;
  font-size: var(--one-size);
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

/* styling positioning of the copy to clipboard button */
i {
  border-radius: 15px;
  color: var(--white-color);
  background-color: var(--blue-color);
  padding: var(--two-size);
  border: var(--border-properties);
  box-shadow: var(--shadow--properties);
  font-family: "Cormorant Unicase", serif;
  transition: 0.3s ease-in-out;
  font-size: var(--one-size);
  display: flex;
}

/* hover effect for the copy to clipboard button */
i:hover {
  background-color: var(--blue-hover);
  cursor: pointer;
}


/* =============== INPUT GRID =================== */

/* creating a grid for all the input types and titles */
.grid__item3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* =============== NUMBER OF CHARACTERS =================== */

/* making sure the grid sub items are centered */
.grid__sub1, .grid__sub2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* making the slider have the correct width and color */
.slider {
  width: 50%;
  opacity: 1;
  background-color: var(--blue-color);
  margin-right: var(--one-size);
}

/* giving a grab cursor effect when you mouse over the slider */
.slider:hover {
  cursor: grab;
}

/* styling the slider */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--blue-color);
}

.slider::-moz-range-thumb {
  background-color:var(--blue-color);
}

/* giving the numberbox styling and positioning*/
.number__box {
  text-align: center;
  border-radius: 15px;
  color: white;
  background-color: var(--blue-color);
  padding: var(--four-size);
  border: var(--border-properties);
  box-shadow: var(--box-shadow);
  font-family: "Cormorant Unicase", serif;
}

/* =============== INCLUDE UPPERCASE =================== */

/* making sure the grid sub items are centered */
.grid__sub3, .grid__sub4 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== INCLUDE LOWERCASE =================== */

/* making sure the grid sub items are centered */
.grid__sub5, .grid__sub6 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== INCLUDE SYMBOLS =================== */

/* making sure the grid sub items are centered */
.grid__sub7, .grid__sub8 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== INCLUDE NUMBERS =================== */

/* making sure the grid sub items are centered */
.grid__sub9, .grid__sub10 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== GENERATE BUTTON =================== */

/* making sure the grid items are centered */
.grid__item4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* making sure the button is wrapped in a container */
.grid__container8 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* styling the generate pasword button */
button { 
  border-radius: 15px;
  color: var(--white-color);
  background-color: var(--blue-color);
  padding: var(--one-size) var(--two-size);
  border: var(--border-properties);
  box-shadow: var(--box-shadow);
  font-family: "Cormorant Unicase", serif;
  transition: 0.3s ease-in-out;
  width: 60%;
  font-size: var(--two-size);
}

/* giving the button a hover effect */
button:hover {
  background-color: var(--blue-hover);
  cursor: pointer;
}

/* =============== MEDIA QUERIES =================== */

@media screen and (max-width: 768px) {
 .password__container {
   flex-direction: column;
 }

 i {
   margin-top: var(--three-size);
 }

 p {
   flex-wrap: wrap;
 }
}

@media screen and (max-width: 600px) {
  .grid__item3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card {
    height: 80%;
  }
}

@media screen and (max-width: 440px) {
  button {
    padding: var(--two-size) var(--two-size);
  }
}

@media screen and (max-height: 700px) {
  h1 {
    font-size: var(--one-size);
  }

  h2 {
    font-size: var(--two-size);
  }

  p {
    font-size: var(--three-size);
  }
}