@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;500&display=swap");

:root {
  /* ================ DEFAULT PROPERTIES ==================== */
  --shadow--properties: 0px 0px 5px rgba(0,0,0, 0.5);
  --blue-color: rgb(0, 132, 255);
  --white-color: #fff;
  --black-color: #000;
  --blue-hover: rgb(115, 180, 241);
  --box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  --border-properties: 1px solid rgba(255, 255, 255, 0.5);

  /* =============== DEFAULT SIZE =================== */
  --one-size: 1.5rem;
  --two-size: 1rem;
  --three-size: 0.75rem;
  --four-size: 0.5rem;
  --five-size: 0.3rem;
}

/* =============== UNIVERSAL STYLING =================== */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Unicase", serif;
  font-size: var(--one-font);
  font-weight: bold;
  overflow: hidden;
}

.background {
  background-image: url("../images/background.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

h1,
h2 {
  margin: 0;
  color: var(--white-color);
  text-shadow: var(--shadow--properties);
}

h1 {
  margin-top: 5%;
}

@keyframes slideInFromLeft {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

/* transition for animation */

#card {
  animation: 1s ease 0s 1 slideInFromLeft;
}

/* =============== CONTAINER =================== */

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

/* =============== CARD =================== */
.card {
  width: 40%;
  height: 70%;
  border-radius: var(--two-size);
  box-shadow: var(--box-shadow);
  background: rgba(110, 110, 110, 0.5);
  border: var(--border-properties);
}

.card__container {
  display: grid;
  height: 100%;
}

header h1,
header h2 {
  text-align: center;
}

p {
  color: var(--white-color);
  text-shadow: var(--shadow--properties);
}

/* =============== PASSWORD TEXTAREA =================== */

.grid__item2 {
  width: 100%;
}

.password__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}

textarea {
  border-radius: var(--two-size);
  width: 80%;
  color: var(--black-color);
  padding: var(--two-size);
  border: var(--border-properties);
  box-shadow: var(--shadow--properties);
  resize: none;
  text-align: center;
  justify-content: center;
  margin: auto;
  align-content: center;
  color: var(--black-color);
  font-family: "Cormorant Unicase", serif;
  font-size: var(--one-size);
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

i {
  border-radius: 15px;
  color: var(--white-color);
  background-color: var(--blue-color);
  padding: var(--two-size);
  border: var(--border-properties);
  box-shadow: var(--shadow--properties);
  font-family: "Cormorant Unicase", serif;
  transition: 0.3s ease-in-out;
  font-size: var(--one-size);
  display: flex;
}

i:hover {
  background-color: var(--blue-hover);
  cursor: pointer;
}


/* =============== INPUT GRID =================== */

.grid__item3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* =============== NUMBER OF CHARACTERS =================== */

.grid__sub1, .grid__sub2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 50%;
  opacity: 1;
  background-color: var(--blue-color);
  cursor: pointer;
  margin-right: var(--one-size);
}

.slider:hover {
  cursor: grab;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--blue-color);
}

.slider::-moz-range-thumb {
  background-color:var(--blue-color);
}

.number__box {
  text-align: center;
  border-radius: 15px;
  color: white;
  background-color: var(--blue-color);
  padding: var(--four-size);
  border: var(--border-properties);
  box-shadow: var(--box-shadow);
  font-family: "Cormorant Unicase", serif;
}

/* =============== INCLUDE UPPERCASE =================== */

.grid__sub3, .grid__sub4 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== INCLUDE LOWERCASE =================== */

.grid__sub5, .grid__sub6 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== INCLUDE SYMBOLS =================== */

.grid__sub7, .grid__sub8 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== INCLUDE NUMBERS =================== */

.grid__sub9, .grid__sub10 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== GENERATE BUTTON =================== */

.grid__item4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid__container8 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

button { 
  border-radius: 15px;
  color: white;
  background-color: var(--blue-color);
  padding: var(--one-size) var(--two-size);
  border: var(--border-properties);
  box-shadow: var(--box-shadow);
  font-family: "Cormorant Unicase", serif;
  transition: 0.3s ease-in-out;
  width: 60%;
  font-size: var(--two-size);
}

button:hover {
  background-color: var(--blue-hover);
  cursor: pointer;
}