@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;500&display=swap");

:root {
  /* ================ DEFAULT COLOURS ==================== */
  --main-color: 
  --first-color: 
  --second-color: 
  --third-color: 
  --forth-color: 
  --p-colour: 

  /* =============== DEFAULT FONT SIZE =================== */
  --one-font: 1.5rem;
  --two-font: 1rem;
  --three-font: 0.75rem;
  --four-font: 0.5rem;
  --five-font: 0.3rem;
}

/* =============== UNIVERSAL STYLING =================== */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Unicase", serif;
  font-size: var(--one-font);
}

.background {
  background-image: url("../images/background.png");
  height: 100vh;
}

h1,
h2 {
  margin: 0;
  color: white;
  text-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
}

h1 {
  margin-top: 5%;
}

/* =============== CONTAINER =================== */

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

/* =============== CARD =================== */
.card {
  width: 40%;
  height: 70%;
  border-radius: 1rem;
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  background: rgba(110, 110, 110, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.card__container {
  display: grid;
  height: 100%;
}

header h1,
header h2 {
  text-align: center;
}

p {
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
}

/* =============== PASSWORD TEXTAREA =================== */

.grid__item2 {
  display: flex;
  justify-content: center;
}

textarea {
  border-radius: 1rem;
  width: 80%;
  color: white;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  resize: none;
}

textarea[placeholder] {
  text-align: center;
  margin: auto;
  align-content: center;
  color: white;
  font-family: "Cormorant Unicase", serif;
  font-size: 1.5rem;
}


/* =============== INPUT GRID =================== */

.grid__item3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* =============== CHECKBOX STYLING =================== */



/* =============== NUMBER OF CHARACTERS =================== */

.grid__sub1, .grid__sub2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 50%;
  opacity: 1;
  background-color: rgb(0, 132, 255);
  cursor: pointer;
  margin-right: 1rem;
}

.slider:hover {
  cursor: grab;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(0, 132, 255);
}

.slider::-moz-range-thumb {
  background-color:rgb(0, 132, 255);
}

.number__box {
  text-align: center;
  border-radius: 15px;
  color: white;
  background-color: rgb(0, 132, 255);
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  font-family: "Cormorant Unicase", serif;
}

/* =============== INCLUDE UPPERCASE =================== */

.grid__sub3, .grid__sub4 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== INCLUDE LOWERCASE =================== */

.grid__sub5, .grid__sub6 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== INCLUDE SYMBOLS =================== */

.grid__sub7, .grid__sub8 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== INCLUDE NUMBERS =================== */

.grid__sub9, .grid__sub10 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =============== GENERATE BUTTON =================== */

.grid__item4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

button { 
  border-radius: 15px;
  color: white;
  background-color: rgb(0, 132, 255);
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  font-family: "Cormorant Unicase", serif;
  transition: 0.3s ease-in-out;
  width: 100%;
}

button:hover {
  background-color: rgb(115, 180, 241);
  cursor: pointer;
}